.retofit {
    color: var(--lighter-light-gray, #eeeeee);
    text-align: center;
    font-family: "RobotoCondensed-Bold", sans-serif;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
}

.imagen-principal {
    width: 80%;
    max-width: 800px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 250px;
    transform: translateX(-50%);
    object-fit: cover;
}

.imagen-secundaria {
    width: 80%;
    max-width: 800px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 650px;
    transform: translateX(-50%);
    object-fit: cover;
}

.rectangulo-principal {
    color: #afed00;
    background: var(--off-black, #111111);
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

.rectangulo-secundario {
    background: var(--energy, #afed00);
    width: 155px;
    height: 64px;
    position: absolute;
    left: 1100px;
    top: 231px;
}

.texto-descripcion {
    color: #0e0d0d;
    text-align: center;
    font-family: "RobotoCondensed-Bold", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
}