.seccion-2 {
    border: #0e0d0d 1px solid;
    margin-top: 40px;
    /* Espaciado superior para separar esta sección de la anterior */
    padding: 20px;
    /* Relleno para que no se pegue a los bordes */
}

.retofit {
    color: var(--lighter-light-gray, #eeeeee);
    text-align: center;
    font-family: "RobotoCondensed-Bold", sans-serif;
    font-size: 100px;
    /* Aumenté aún más el tamaño de la fuente */
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    left: 50%;
    top: 40px;
    /* Ajusté para que esté centrado, no tan arriba */
    transform: translateX(-50%);
    margin-bottom: 50px;
    /* Espaciado adicional debajo para separar del siguiente contenido */
}

.imagen-principal {
    width: 80%;
    max-width: 800px;
    height: auto;
    margin: 20px auto;
    display: block;
    object-fit: cover;
}

.imagen-secundaria {
    width: 80%;
    max-width: 800px;
    height: auto;
    margin: 20px auto;
    display: block;
    object-fit: cover;
}

.rectangulo-principal {
    background: var(--off-black, #111111);
    color: #ffffff;
    /* Texto en blanco */
    width: 100%;
    height: 80px;
    position: relative;
    margin: 20px 0;
    /* Margen superior e inferior para separar los elementos */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Centra el texto tanto horizontal como verticalmente */
}

.texto-descripcion {
    color: #ffffff;
    /* Texto blanco */
    text-align: center;
    font-family: "RobotoCondensed-Bold", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}