.section-5,
.section-5 * {
  box-sizing: border-box;
}
.section-5 {
  height: 1533px;
  position: relative;
  overflow: hidden;
}
.mayhem {
  color: var(--lighter-light-gray, #eeeeee);
  text-align: center;
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-size: 822.7781372070312px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 959px;
  top: -265px;
}
.asset-1-3-x-3 {
  width: 1127.73px;
  height: 511.64px;
  position: absolute;
  left: 1389.82px;
  top: -332px;
  transform-origin: 0 0;
  transform: rotate(30deg) scale(1, 1);
  object-fit: cover;
}
.rectangle-15 {
  background: var(--energy, #afed00);
  width: 155px;
  height: 52px;
  position: absolute;
  left: 828px;
  top: 102px;
}
.featured-collectio-ns {
  color: var(--off-black, #111111);
  text-align: left;
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 704px;
  top: 119px;
}
.vector-2 {
  width: 88px;
  height: 0px;
  position: absolute;
  left: 994px;
  top: 766px;
  overflow: visible;
}
.group-46 {
  position: absolute;
  inset: 0;
}
.group-45 {
  width: 443px;
  height: 559px;
  position: static;
}
.group-38 {
  width: 442px;
  height: 442.34px;
  position: static;
}
.rectangle-30 {
  background: #f1f1f1;
  width: 442px;
  height: 442px;
  position: absolute;
  left: 262px;
  top: 272px;
}
.group-30 {
  width: 442px;
  height: 73.34px;
  position: static;
}
.rectangle-38 {
  background: var(--energy, #afed00);
  width: 221px;
  height: 73.34px;
  position: absolute;
  left: 483px;
  top: 641px;
}
.rectangle-37 {
  background: var(--off-black, #111111);
  width: 221px;
  height: 73.34px;
  position: absolute;
  left: 262px;
  top: 641px;
}
.add-to-cart {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-size: 19.55752182006836px;
  font-weight: 700;
  position: absolute;
  left: 333.29px;
  top: 666.42px;
}
.quick-view {
  color: #000000;
  text-align: left;
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-size: 19.55752182006836px;
  font-weight: 700;
  position: absolute;
  left: 557.31px;
  top: 666.42px;
}
.icon-eye-outline {
  width: 21.88px;
  height: 15.31px;
  position: absolute;
  left: 527px;
  top: 669.36px;
  overflow: visible;
}
.icon-star {
  width: 20.46px;
  height: 18.42px;
  position: absolute;
  left: 302px;
  top: 667.4px;
  overflow: visible;
}
.group-31 {
  width: 443px;
  height: 83px;
  position: static;
}
.vector-1 {
  width: 442px;
  height: 0px;
  position: absolute;
  left: 263px;
  top: 792px;
  overflow: visible;
}
.vector {
  width: 1.2%;
  height: 1.44%;
  position: absolute;
  right: 63.33%;
  left: 35.47%;
  bottom: 46.05%;
  top: 52.51%;
  overflow: visible;
}
.vector2 {
  width: 1.2%;
  height: 1.44%;
  position: absolute;
  right: 65.05%;
  left: 33.75%;
  bottom: 46.05%;
  top: 52.51%;
  overflow: visible;
}
.vector3 {
  width: 1.2%;
  height: 1.44%;
  position: absolute;
  right: 66.77%;
  left: 32.03%;
  bottom: 46.05%;
  top: 52.51%;
  overflow: visible;
}
.vector4 {
  width: 1.2%;
  height: 1.44%;
  position: absolute;
  right: 68.49%;
  left: 30.31%;
  bottom: 46.05%;
  top: 52.51%;
  overflow: visible;
}
.vector5 {
  width: 1.2%;
  height: 1.44%;
  position: absolute;
  right: 70.21%;
  left: 28.59%;
  bottom: 46.05%;
  top: 52.51%;
  overflow: visible;
}
.icon-heart {
  width: 1.15%;
  height: 1.24%;
  position: absolute;
  right: 68.33%;
  left: 30.52%;
  bottom: 49.38%;
  top: 49.38%;
  overflow: visible;
}
.sneakers {
  color: #000000;
  text-align: left;
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 262px;
  top: 748px;
}
.running {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Italic", sans-serif;
  font-size: 26px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  left: 262px;
  top: 801px;
}
._65-00 {
  color: #000000;
  text-align: right;
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 619px;
  top: 748px;
}
.group-43 {
  width: 443px;
  height: 559px;
  position: static;
}
.group-37 {
  width: 442px;
  height: 442px;
  position: static;
}
.rectangle-32 {
  background: #f1f1f1;
  width: 442px;
  height: 442px;
  position: absolute;
  left: 738px;
  top: 272px;
}
.rectangle-372 {
  background: var(--off-black, #111111);
  width: 141px;
  height: 58px;
  position: absolute;
  left: 1039px;
  top: 272px;
}
.sale {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(--heading-2-font-family, "RobotoCondensed-Bold", sans-serif);
  font-size: var(--heading-2-font-size, 20px);
  font-weight: var(--heading-2-font-weight, 700);
  position: absolute;
  left: 1085px;
  top: 290px;
}
.group-32 {
  width: 443px;
  height: 83px;
  position: static;
}
.vector-12 {
  width: 442px;
  height: 0px;
  position: absolute;
  left: 738px;
  top: 792px;
  overflow: visible;
}
.vector6 {
  width: 1.2%;
  height: 1.44%;
  position: absolute;
  right: 38.59%;
  left: 60.21%;
  bottom: 46.05%;
  top: 52.51%;
  overflow: visible;
}
.vector7 {
  width: 1.2%;
  height: 1.44%;
  position: absolute;
  right: 40.31%;
  left: 58.49%;
  bottom: 46.05%;
  top: 52.51%;
  overflow: visible;
}
.vector8 {
  width: 1.2%;
  height: 1.44%;
  position: absolute;
  right: 42.03%;
  left: 56.77%;
  bottom: 46.05%;
  top: 52.51%;
  overflow: visible;
}
.vector9 {
  width: 1.2%;
  height: 1.44%;
  position: absolute;
  right: 43.75%;
  left: 55.05%;
  bottom: 46.05%;
  top: 52.51%;
  overflow: visible;
}
.vector10 {
  width: 1.2%;
  height: 1.44%;
  position: absolute;
  right: 45.47%;
  left: 53.33%;
  bottom: 46.05%;
  top: 52.51%;
  overflow: visible;
}
.icon-heart2 {
  width: 1.15%;
  height: 1.24%;
  position: absolute;
  right: 48.75%;
  left: 50.1%;
  bottom: 49.38%;
  top: 49.38%;
  overflow: visible;
}
.shoes {
  color: #000000;
  text-align: left;
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 737px;
  top: 748px;
}
.running2 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Italic", sans-serif;
  font-size: 26px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  left: 737px;
  top: 801px;
}
._45-00 {
  color: #000000;
  text-align: right;
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 1094px;
  top: 748px;
}
._70-00 {
  color: #cdcdcd;
  text-align: right;
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 995px;
  top: 748px;
}
.group-44 {
  width: 444px;
  height: 559px;
  position: static;
}
.rectangle-31 {
  background: #f1f1f1;
  width: 443px;
  height: 443px;
  position: absolute;
  left: 1214px;
  top: 272px;
}
.group-33 {
  width: 443px;
  height: 83px;
  position: static;
}
.vector-13 {
  width: 442px;
  height: 0px;
  position: absolute;
  left: 1216px;
  top: 792px;
  overflow: visible;
}
.vector11 {
  width: 1.2%;
  height: 1.44%;
  position: absolute;
  right: 13.7%;
  left: 85.1%;
  bottom: 46.05%;
  top: 52.51%;
  overflow: visible;
}
.vector12 {
  width: 1.2%;
  height: 1.44%;
  position: absolute;
  right: 15.42%;
  left: 83.39%;
  bottom: 46.05%;
  top: 52.51%;
  overflow: visible;
}
.vector13 {
  width: 1.2%;
  height: 1.44%;
  position: absolute;
  right: 17.14%;
  left: 81.67%;
  bottom: 46.05%;
  top: 52.51%;
  overflow: visible;
}
.vector14 {
  width: 1.2%;
  height: 1.44%;
  position: absolute;
  right: 18.85%;
  left: 79.95%;
  bottom: 46.05%;
  top: 52.51%;
  overflow: visible;
}
.vector15 {
  width: 1.2%;
  height: 1.44%;
  position: absolute;
  right: 20.57%;
  left: 78.23%;
  bottom: 46.05%;
  top: 52.51%;
  overflow: visible;
}
.icon-heart3 {
  width: 1.15%;
  height: 1.24%;
  position: absolute;
  right: 18.7%;
  left: 80.16%;
  bottom: 49.38%;
  top: 49.38%;
  overflow: visible;
}
.men-s-shoes {
  color: #000000;
  text-align: left;
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 1215px;
  top: 748px;
}
.running3 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Italic", sans-serif;
  font-size: 26px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  left: 1215px;
  top: 801px;
}
._67-00 {
  color: #000000;
  text-align: right;
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 1572px;
  top: 748px;
}
.group-40 {
  width: 444px;
  height: 558px;
  position: static;
}
.group-39 {
  width: 443px;
  height: 443px;
  position: static;
}
.rectangle-34 {
  background: #f1f1f1;
  width: 443px;
  height: 443px;
  position: absolute;
  left: 1214px;
  top: 892px;
}
.rectangle-36 {
  background: var(--off-black, #111111);
  width: 199px;
  height: 58px;
  position: absolute;
  left: 1458px;
  top: 892px;
}
.out-of-stock {
  color: var(--white, #ffffff);
  text-align: right;
  font-family: var(--heading-2-font-family, "RobotoCondensed-Bold", sans-serif);
  font-size: var(--heading-2-font-size, 20px);
  font-weight: var(--heading-2-font-weight, 700);
  position: absolute;
  left: 1500px;
  top: 910px;
}
.group-34 {
  width: 443px;
  height: 83px;
  position: static;
}
.vector-14 {
  width: 442px;
  height: 0px;
  position: absolute;
  left: 1216px;
  top: 1411px;
  overflow: visible;
}
.vector16 {
  width: 1.2%;
  height: 1.44%;
  position: absolute;
  right: 13.7%;
  left: 85.1%;
  bottom: 5.68%;
  top: 92.89%;
  overflow: visible;
}
.vector17 {
  width: 1.2%;
  height: 1.44%;
  position: absolute;
  right: 15.42%;
  left: 83.39%;
  bottom: 5.68%;
  top: 92.89%;
  overflow: visible;
}
.vector18 {
  width: 1.2%;
  height: 1.44%;
  position: absolute;
  right: 17.14%;
  left: 81.67%;
  bottom: 5.68%;
  top: 92.89%;
  overflow: visible;
}
.vector19 {
  width: 1.2%;
  height: 1.44%;
  position: absolute;
  right: 18.85%;
  left: 79.95%;
  bottom: 5.68%;
  top: 92.89%;
  overflow: visible;
}
.vector20 {
  width: 1.2%;
  height: 1.44%;
  position: absolute;
  right: 20.57%;
  left: 78.23%;
  bottom: 5.68%;
  top: 92.89%;
  overflow: visible;
}
.icon-heart4 {
  width: 1.15%;
  height: 1.24%;
  position: absolute;
  right: 18.7%;
  left: 80.16%;
  bottom: 9%;
  top: 89.76%;
  overflow: visible;
}
.sneakers2 {
  color: #000000;
  text-align: left;
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 1215px;
  top: 1367px;
}
.running4 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Italic", sans-serif;
  font-size: 26px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  left: 1215px;
  top: 1420px;
}
._82-00 {
  color: #000000;
  text-align: right;
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 1572px;
  top: 1367px;
}
.group-41 {
  width: 443px;
  height: 557px;
  position: static;
}
.rectangle-35 {
  background: #f1f1f1;
  width: 442px;
  height: 442px;
  position: absolute;
  left: 738px;
  top: 892px;
}
.group-35 {
  width: 443px;
  height: 83px;
  position: static;
}
.vector-15 {
  width: 442px;
  height: 0px;
  position: absolute;
  left: 738px;
  top: 1410px;
  overflow: visible;
}
.vector21 {
  width: 1.2%;
  height: 1.44%;
  position: absolute;
  right: 38.59%;
  left: 60.21%;
  bottom: 5.74%;
  top: 92.82%;
  overflow: visible;
}
.vector22 {
  width: 1.2%;
  height: 1.44%;
  position: absolute;
  right: 40.31%;
  left: 58.49%;
  bottom: 5.74%;
  top: 92.82%;
  overflow: visible;
}
.vector23 {
  width: 1.2%;
  height: 1.44%;
  position: absolute;
  right: 42.03%;
  left: 56.77%;
  bottom: 5.74%;
  top: 92.82%;
  overflow: visible;
}
.vector24 {
  width: 1.2%;
  height: 1.44%;
  position: absolute;
  right: 43.75%;
  left: 55.05%;
  bottom: 5.74%;
  top: 92.82%;
  overflow: visible;
}
.vector25 {
  width: 1.2%;
  height: 1.44%;
  position: absolute;
  right: 45.47%;
  left: 53.33%;
  bottom: 5.74%;
  top: 92.82%;
  overflow: visible;
}
.icon-heart5 {
  width: 1.15%;
  height: 1.24%;
  position: absolute;
  right: 43.59%;
  left: 55.26%;
  bottom: 9.07%;
  top: 89.69%;
  overflow: visible;
}
.sneakers3 {
  color: #000000;
  text-align: left;
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 737px;
  top: 1366px;
}
.running5 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Italic", sans-serif;
  font-size: 26px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  left: 737px;
  top: 1419px;
}
._67-002 {
  color: #000000;
  text-align: right;
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 1094px;
  top: 1366px;
}
.group-42 {
  width: 443px;
  height: 557px;
  position: static;
}
.rectangle-33 {
  background: #f1f1f1;
  width: 442px;
  height: 442px;
  position: absolute;
  left: 262px;
  top: 892px;
}
.group-36 {
  width: 443px;
  height: 83px;
  position: static;
}
.vector-16 {
  width: 442px;
  height: 0px;
  position: absolute;
  left: 263px;
  top: 1410px;
  overflow: visible;
}
.vector26 {
  width: 1.2%;
  height: 1.44%;
  position: absolute;
  right: 63.33%;
  left: 35.47%;
  bottom: 5.74%;
  top: 92.82%;
  overflow: visible;
}
.vector27 {
  width: 1.2%;
  height: 1.44%;
  position: absolute;
  right: 65.05%;
  left: 33.75%;
  bottom: 5.74%;
  top: 92.82%;
  overflow: visible;
}
.vector28 {
  width: 1.2%;
  height: 1.44%;
  position: absolute;
  right: 66.77%;
  left: 32.03%;
  bottom: 5.74%;
  top: 92.82%;
  overflow: visible;
}
.vector29 {
  width: 1.2%;
  height: 1.44%;
  position: absolute;
  right: 68.49%;
  left: 30.31%;
  bottom: 5.74%;
  top: 92.82%;
  overflow: visible;
}
.vector30 {
  width: 1.2%;
  height: 1.44%;
  position: absolute;
  right: 70.21%;
  left: 28.59%;
  bottom: 5.74%;
  top: 92.82%;
  overflow: visible;
}
.icon-heart6 {
  width: 1.15%;
  height: 1.24%;
  position: absolute;
  right: 68.33%;
  left: 30.52%;
  bottom: 9.07%;
  top: 89.69%;
  overflow: visible;
}
.sneakers4 {
  color: #000000;
  text-align: left;
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 262px;
  top: 1366px;
}
.running6 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Italic", sans-serif;
  font-size: 26px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  left: 262px;
  top: 1419px;
}
._70-002 {
  color: #000000;
  text-align: right;
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 619px;
  top: 1366px;
}
.image-1 {
  width: 375px;
  height: 375px;
  position: absolute;
  left: 299px;
  top: 288px;
  object-fit: cover;
}
.image-4 {
  width: 526px;
  height: 526px;
  position: absolute;
  left: 1174px;
  top: 856px;
  object-fit: cover;
}
.image-5 {
  width: 476px;
  height: 476px;
  position: absolute;
  left: 724px;
  top: 858px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
}
.image-2 {
  width: 383px;
  height: 383px;
  position: absolute;
  left: 1240px;
  top: 316px;
  object-fit: cover;
}
.image-3 {
  width: 391px;
  height: 391px;
  position: absolute;
  left: 767px;
  top: 933px;
  object-fit: cover;
}
.image-6 {
  width: 448px;
  height: 448px;
  position: absolute;
  left: 1185px;
  top: 251px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
}
._06 {
  width: 826.53px;
  height: 814.89px;
  position: absolute;
  left: 114.68px;
  top: -447px;
  transform-origin: 0 0;
  transform: rotate(42.514deg) scale(1, 1);
  object-fit: cover;
}
._03 {
  width: 756px;
  height: 695px;
  position: absolute;
  left: -229px;
  top: -285px;
  object-fit: cover;
}
