.section-1,
.section-1 * {
  box-sizing: border-box;
}
.section-1 {
  height: 2216px;
  position: relative;
  overflow: hidden;
}
.mayhem {
  color: var(--lighter-light-gray, #eeeeee);
  text-align: center;
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-size: 822.7781372070312px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: -709.29px;
  top: 1239px;
}
.asset-1-3-x-1 {
  width: 971.67px;
  height: 440.84px;
  position: absolute;
  left: 1576.53px;
  top: -254px;
  transform-origin: 0 0;
  transform: rotate(46.832deg) scale(1, 1);
  object-fit: cover;
}
.asset-1-3-x-2 {
  width: 774.38px;
  height: 440.84px;
  position: absolute;
  left: 213.18px;
  top: 658.91px;
  transform-origin: 0 0;
  transform: rotate(-130.916deg) scale(1, 1);
  object-fit: cover;
}
.rectangle-14 {
  background: var(--off-black, #111111);
  width: 1920px;
  height: 120px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.track-store-gives-you-an-easy-way-to-create-a-captivating-website-for-your-urban-sportswear-brand {
  color: #ffffff;
  text-align: left;
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 430px;
  top: 48px;
}
.group-29 {
  position: absolute;
  inset: 0;
}
.rectangle-15 {
  background: var(--energy, #afed00);
  width: 155px;
  height: 64px;
  position: absolute;
  left: 1100px;
  top: 231px;
}
.select-your-style-now {
  color: var(--off-black, #111111);
  text-align: left;
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 695px;
  top: 254px;
}
.group-26 {
  position: absolute;
  inset: 0;
}
.group-25 {
  width: 2557.27px;
  height: 1220px;
  position: static;
}
.unsplash-d-3-b-ymn-z-0-ank {
  background: linear-gradient(
    to left,
    rgba(255, 209, 90, 0.2),
    rgba(255, 209, 90, 0.2)
  );
  width: 870px;
  height: 535px;
  position: absolute;
  left: 525px;
  top: 406px;
  object-fit: cover;
}
.pexels-photo-by-julia-kuzenkov {
  background: linear-gradient(
    to left,
    rgba(255, 209, 90, 0.2),
    rgba(255, 209, 90, 0.2)
  );
  width: 557px;
  height: 535px;
  position: absolute;
  left: -62px;
  top: 406px;
  object-fit: cover;
}
.pexels-photo-by-j-shoots {
  background: linear-gradient(
    to left,
    rgba(255, 209, 90, 0.2),
    rgba(255, 209, 90, 0.2)
  );
  width: 697px;
  height: 535px;
  position: absolute;
  left: 1425px;
  top: 406px;
  object-fit: cover;
}
._04 {
  width: 871.8px;
  height: 925.5px;
  position: absolute;
  left: 1395px;
  top: 569.72px;
  transform-origin: 0 0;
  transform: rotate(-76.787deg) scale(1, 1);
  object-fit: cover;
}
.group-28 {
  position: absolute;
  inset: 0;
}
.group-27 {
  width: 1423px;
  height: 52px;
  position: static;
}
.top-class-running-shoes {
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 245px;
  top: 1192px;
}
.classic-casual-sneaker {
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 550px;
  top: 1192px;
}
.best-shoes-for-running-2022 {
  color: #000000;
  text-align: center;
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 880px;
  top: 1192px;
}
.top-rated-shoes {
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 1244px;
  top: 1192px;
}
.high-quality-sneaker {
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 1535px;
  top: 1192px;
}
.button {
  background: #111111;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 23px 61px 23px 61px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 852px;
  top: 1275px;
}
.shop-now {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(--heading-2-font-family, "RobotoCondensed-Bold", sans-serif);
  font-size: var(--heading-2-font-size, 20px);
  font-weight: var(--heading-2-font-weight, 700);
  position: relative;
}
.group-24 {
  position: absolute;
  inset: 0;
}
.men-apparel {
  color: #000000;
  text-align: center;
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 515px;
  top: 1943px;
}
.button2 {
  background: #111111;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 23px 61px 23px 61px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 497px;
  top: 2005px;
}
.rectangle-19 {
  background: linear-gradient(
    to left,
    rgba(255, 209, 90, 0.2),
    rgba(255, 209, 90, 0.2)
  );
  width: 683px;
  height: 441px;
  position: absolute;
  left: 262px;
  top: 1469px;
  object-fit: cover;
}
.rectangle-20 {
  background: #d9d9d9;
  width: 682px;
  height: 441px;
  position: absolute;
  left: 975px;
  top: 1469px;
}
.group-23 {
  position: absolute;
  inset: 0;
}
.women-apparel {
  color: #000000;
  text-align: center;
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 1208px;
  top: 1943px;
}
.button3 {
  background: #111111;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 23px 61px 23px 61px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 1209px;
  top: 2005px;
}
.bruce-mars-hh-xd-pg-e-tiq-unsplash-1 {
  background: linear-gradient(
    to left,
    rgba(255, 209, 90, 0.2),
    rgba(255, 209, 90, 0.2)
  );
  width: 682px;
  height: 441px;
  position: absolute;
  left: 975px;
  top: 1469px;
  object-fit: cover;
}
.asset-1-3-x-3 {
  width: 1127.73px;
  height: 511.64px;
  position: absolute;
  left: 227.35px;
  top: 2755.45px;
  transform-origin: 0 0;
  transform: rotate(-120deg) scale(1, 1);
  object-fit: cover;
}
.layer-4-1 {
  width: 775px;
  height: 514px;
  position: absolute;
  left: 1346px;
  top: 634px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
}
